<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <%if (locals.user) {%>
       <h2>Welcome to the clubhouse <%=locals.user.fullname%></h2>
       <h3>your membership is <%=locals.user.membership_status%></h3>
      <%}else{%>
         <h2>Welcome to the clubhouse visitor</h2>
        <%}%>
    <ul>
        <% messages.map(message => { %>
            <li>
                <h3><%=message.title%> written by <%=message.username%>
                </h3>
                <p><b>date : </b><%=message.timestamp%></p>
                <p><b>text : </b> <%=message.text%></p>
            </li>
        <% }) %>
    </ul>
    <a href="/update-membership">Update your membership</a>
    <a href="/log-out">log out</a>
  </body>
</html>
