<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%=title%></title>
  </head>
  <body>
    <h1>Club house app </h1>
    <%if (locals.user) {%>
        <h2>Welcome <%=locals.user.fullname%></h2>
        <h4>your membership is <%=locals.user.membership_status%></h4>
        <%if(locals.user.membership_status=='enable'){%>
        <h4>your status lets to show the names and dates of the messages</h4>
        <%}else{%>
          <h4>your status hides the names and dates of the messages</h4>
        <%}%>
    <%}else{%>
         <h2>Welcome visitor</h2>
         <h4>your status hides the names and dates of the messages</h4>
    <%}%>
    <ul>
      <h2>Message board</h2>
        <% messages.map(message => { %>
            <li>
                <h3> - "<%=message.title%>" written by <%=message.fullname%>
                </h3>
                <p><b>date : </b><%=message.timestamp%></p>
                <p><b>text : </b> <%=message.text%></p>
                <%if((locals.user)&&(locals.user.admin=='true')){%>
                  <a href="/delete-message?id=<%=message.id%>" >Delete message</a>
                <%}%>
            </li>
        <% }) %>
    </ul>
    <a href="/messages-board">Refresh message board</a>
    <%if(locals.user){%>
      <a href="/create-message">Create a new message</a>
      <%if(locals.user.membership_status == 'disable'){%>
        <a href="/update-membership">Update your membership</a>
      <%}%>
      <a href="/log-out">log out</a>
    <%}else{%>
      <a href="log-in">log in</a>
      <a href="sign-up">Create a new user</a>
    <%}%>

  </body>
</html>
